# Dir inspection
alias ls='exa'
alias l='exa'
alias ll='exa -alhF'
alias la='exa -a'
alias lt='exa -T --level=3'
# File inspection
alias cat=bat

# tmux
alias mux=tmuxinator

# clis
alias c=cntb
alias k=kubectl
alias docker=podman

# Apps
alias wiregui="/opt/wireguard/wiregui.AppImage &"
alias lens="/opt/lens/Lens.AppImage &"

#cloud
alias k=kubectl
alias h=helm

# Reload zsh
alias szsh="source ~/.zshrc";

# NIX
# Reload home manager and zsh
alias reload="home-manager switch && source ~/.zshrc";
# Nix garbage collection
alias garbage="nix-collect-garbage -d && docker image prune --force";
# See which Nix packages are installed
alias installed="nix-env --query --installed";

#SSH
alias ssh-="ssh -p2222 ag@"
alias ssh-bastion="ssh -p2222 ag@194.163.181.218"
alias ssh-ctb1="ssh -p2222 ag@161.97.175.186"
alias ssh-ctb2="ssh -p2222 ag@194.163.128.218"
alias ssh-ctb3="ssh -p2222 ag@194.163.129.213"
alias ssh-ctb4="ssh -p2222 ag@194.163.130.106"
